*{
    margin:0;
    padding: 0;
}

body > div{
    display: flex;
    justify-content: center;
}


header {
    display:flex;
    justify-content: center;
    padding:2vh;
}

nav {
    display:flex;
    gap:10px;
}

a {
    padding:5px;
    color:black;
    text-decoration:none;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:visited,a:active {
    color:black;
}

a:hover {
    cursor: pointer;
    color:white;
    background-color: rgb(106, 106, 237);
}

main {
    width: 80%;
    display:flex;
    gap:10px;
    justify-content: space-around;
}

aside {
    width: 350px;
}

aside > form {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: lightgray;
}

form > span {
    color: red;
    display: none;
}

/* lista usuarios */

form > img {
    width: 150px;
}

.lista-usuarios{
    margin: 15px;
    display: flex;
    gap: 30px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.lista-usuarios > form {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #c3c3d4;
    gap: 5px;
    padding: 20px;
    border-radius: 10px;
}

button, input[type='button']{
    padding: 3px;
}

.lista-usuarios > form > div{
    display: flex;
    align-items: center;
    background-color: #c3c3d4;
    gap: 10px;
    padding-top: 10px;
    border-radius: 10px;
}